body {
    font-family: sans-serif, Arial, Helvetica;
    color: var(--black-color-1, #222);
    margin: 0;
}

body *,
body *::after,
body *::before {
    box-sizing: border-box;
}

/********************************/
/*** CONTAINER
/********************************/
.hp-container {
    display: flex;
    padding: 2rem;
}

/********************************/
/*** TEXT
/********************************/
.hp-bold {
    font-weight: 900;
}

/********************************/
/*** CARDS
/********************************/
.card.card__alternate .card-title::after {
    content: none;
}

.card.card__alternate .card-title {
    margin-bottom: 0;
}

.card.card.card__alternate .card-subtitle {
    color: var(--blue-green-1);
}