/*********************************/
/*** HEADER
/*********************************/
.header-container {
    background-image: linear-gradient(-90deg, var(--white-color-1), var(--gray-color-2));
    justify-content: flex-start;
    align-items: center;
    min-height: 110vh;
    width: 100vw;
}

    .header-title__primary {
        background: url(../assets/images/leadspace-background-9.jpg) center fixed / cover var(--black-color-1);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        color: var(--black-color-1);
        word-break: break-word;
        font-size: 30vmin;
        font-weight: 900;
        padding: 1rem;
        width: 100%;
        margin: 0;
    }

        .header-title__primary-span {
            word-break: break-all;
        }

    .scroll-icon {
        position: absolute;
        height: 4rem;
        bottom: 4rem;
        margin: auto;
        width: 4rem;
        right: 0;
        left: 0;
    }

        .scroll-icon__mouse {
            animation: movement .8s ease infinite alternate;
        }

        .scroll-icon__mouse-svg {
            fill: var(--blue-green-color-1, #111);
        }
        
/*********************************/
/*** NAVIGATION
/*********************************/
.nav-container {
    border: 1px solid var(--gray-color-1, rgb(226, 226, 226));
    box-shadow: 0 1px 5px var(--blue-green-2-t9);
    background-color: var(--white-color-1);
    position: -webkit-sticky;
    justify-content: center;
    position: sticky;
    display: flex;
    top: 0;
}

    .nav-ul,
    .image-profile {
        justify-content: space-around;
        align-items: center;
        display: flex;
        padding: 0;
        margin: 0;
    }

        .nav-li {
            border-right: 1px solid var(--gray-color-1, rgb(226, 226, 226));
            list-style: none;
        }

        .nav-li:first-child {
            border-left: 1px solid var(--gray-color-1, rgb(226, 226, 226));
        }

        .nav-li a {
            color: var(--black-color-3, rgb(107, 107, 107));
            padding: 1.5rem 2.5rem;
            text-decoration: none;
            display: block;
        }

            .image-profile__container {
                justify-content: center;
                align-items: center;
                display: flex;
                width: 200px;
            }
            
                .image-profile {
                    border: 5px solid var(--white-color-1, rgb(255, 255, 255));
                    box-shadow: 0 1px 5px rgba(39, 39, 39, 0.72);
                    border-radius: 50%;
                    position: absolute;
                    height: 150px;
                    width: auto;
                }

/*********************************/
/*** ABOUT
/*********************************/
.about-section {
    background: linear-gradient(180deg, var(--blue-green-1-t90), var(--blue-green-1)), url('../assets/images/leadspace-background.jpg') center fixed / cover; 
    padding: 6rem 2rem;
    display: flex;
}

    .card {
        box-shadow: 0 1px 5px rgba(39, 39, 39, 0.72);
        background-color: var(--white-color-1);
        transition: all 0.5s ease;
        padding: 1.5rem 2rem 3rem;
        border-radius: 6px;
        margin: 1.5rem;
    }

    .card:hover {
        box-shadow: 0 1px 20px rgba(39, 39, 39, 0.90);
    }

        .card-title,
        .skills-title,
        .resume-title,
        .contact-title {
            font-size: 2rem;
        }

        .card-title::after,
        .skills-title::after,
        .resume-title::after,
        .contact-title::after {
            background-color: var(--blue-green-1);
            margin-top: 0.3rem;
            display: block;
            content: "";
            height: 5px;
            width: 68px;
        }

        .card-subtitle,
        .skill-subtitle {
            color: var(--black-color-2);
            text-transform: uppercase;
            font-weight: 550;
            font-size: 1rem;
        }

        .card-description {
            color: var(--black-color-3);
            font-size: 0.9rem;
            font-weight: 100;
        }

        .card-list,
        .card-social {
            list-style: none;
            padding-left: 0;
        }

        .card-li {
            padding: 0.5rem 0;
        }

        .card-social {
            display: flex;
        }

            .social-icon {
                margin-right: 1rem; 
            }

            .social-icon .fab {
                transition: color 0.3s ease;
                color: var(--black-color-3);
                font-size: 1.5rem;
            }
           
            .social-icon .fab:hover {
                color: var(--blue-green-1);
            }

        .card-li a {
            transition: color 0.3s ease;
            color: var(--black-color-3);
            text-decoration: none;
        }

        .card-li a:hover {
            color: var(--blue-color-1);
        }

        .card-buttom {
            border: 1px solid var(--blue-green-1);
            transition: all 0.3s ease-in;
            color: var(--blue-green-1);
            text-decoration: none;
            display: inline-block;
            padding: 0.7rem 1.5rem;
            border-radius: 50px;
            font-size: 0.9rem;
            font-weight: 100;
            margin-top: 1rem;
        }

        .card-buttom:hover {
            background-image: linear-gradient(200deg, var(--blue-green-1), var(--blue-green-2));
            color: var(--white-color-1);
        }

        .card-buttom .fas {
            margin-right: 0.3rem;
        }

    .card.whoami {
        width: 60%;
    }

    .card.information {
        width: 30%;
    }

/*********************************/
/*** SKILLS
/*********************************/
.skills-section {
    background-color: var(--white-color-1);
    padding: 4rem 3.5rem;
}

    .skills-title,
    .resume-title,
    .contact-title {
        flex-direction: column;
        align-items: center;
        display: flex;
    }

    .skills {
        justify-content: space-around;
        display: flex;
    }

        .skills-container {
            margin: 2rem;
            width: 40%;
        }

            .skills-subtitle {
                display: inline-block;
                margin-top: 2.8rem;
            }

            .skills-ul {
                list-style: none;
                padding-left: 0;
            }

                .skills-li {
                    margin-bottom: 1rem;
                    display: block;
                }
            
                    .skill-title {
                        justify-content: space-between;
                        margin: 0.5rem 0;
                        display: flex;
                    }

                        .skill-title,
                        .skill-level {
                            color: var(--blue-green-1);
                            font-weight: 100;
                        }

                    .progress-bar,
                    .progress {
                        border-radius: 0.5rem;
                        height: 0.5rem;
                    }

                    .progress-bar {
                        background-color: var(--gray-color-1, rgb(226, 226, 226));
                        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
                        box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
                    }

                    .progress  {
                        /* background: linear-gradient(30deg, var(--blue-green-1), var(--blue-green-2)); */
                        background: linear-gradient(30deg, var(--blue-green-1), var(--blue-color-1));
                    }

                    .progress[aria-valuenow="25"] {
                        width: 25%;
                    }
                    
                    .progress[aria-valuenow="50"] {
                        width: 50%;
                    }
                    
                    .progress[aria-valuenow="75"] {
                        width: 75%;
                    }
                    
                    .progress[aria-valuenow="100"] {
                        width: 100%;
                    }

/*********************************/
/*** RESUME
/*********************************/
.resume-section {
    background-image: linear-gradient(-90deg, var(--white-color-1), var(--gray-color-2));
    padding: 4rem 3.5rem;
    width: 100%;
}

    .resume {
        justify-content: space-around;
        margin: 4.8rem 0 2.5rem;
        display: flex;
    }

        .role {
            margin: 0.3rem;
            width: 22%;
        }

        .card__alternate {
            box-shadow: 0 1px 1px rgba(161, 161, 161, 0.72);
        }
        
        .card__alternate:hover {
            box-shadow: 0 1px 10px rgba(161, 161, 161, 0.72);
        }

/*********************************/
/*** CONTACT
/*********************************/
.contact-section {
    background-color: var(--white-color-1);
    color: var(--black-color-3);
    text-align: center;
    padding-top: 4rem;
    font-size: 0.9rem;
    font-weight: 100;
}

.contact-section a {
    transition: color 0.3s ease;
    color: var(--blue-color-1);
    text-decoration: none;
    font-weight: 600;
}

.contact-section a:hover {
    color: var(--blue-green-1);
}

    .contact-message {
        margin-bottom: 6rem;
        font-size: 1.3rem;
        padding: 0 3.5rem;
    }

        .contact-message p {
            line-height: 1.5;
            margin: 0;
        }

        .contact-title {
            color: var(--black-color-1);
        }

    .footer__nocopyright {
        background-image: linear-gradient(-90deg, var(--white-color-1), var(--gray-color-2));
        border-top: 1px solid var(--gray-color-1);
        justify-content: space-around;
        padding: 0.5rem 3.5rem;
        align-content: center;
        display: flex;
    }

        .fa-heart {
            color: var(--red-color-1);
            font-size: 0.8rem;
        }
    
        .footer__nocopyright p {
            margin-right: 0.5rem;
            margin-left: 0.5rem;
            line-height: 1.6;
        }

        .footer__nocopyright .social-icon:last-child {
            margin-right: 0;
        }