/**********************************/
/*** COLORS
/**********************************/
:root {
    --white-color-1: rgb(255, 255, 255);
    --black-color-1: rgb(41, 41, 41);
    --blue-color-1: rgb(28,70,242);
    --blue-color-2: rgb(19, 46, 153);
    --blue-green-color-1: rgb(48, 53, 59);
}